# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Gmail (for sending notification emails)
GMAIL_USER=
GMAIL_APP_PASSWORD=

# Groq AI
GROQ_API_KEY=

# Geoapify (address autocomplete)
GEOAPIFY_API_KEY=
